.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  gap: 10px;
  padding: 2rem;

  @media (max-width: 1400px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: 1100px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
  }
  input {
    display: none;
  }
}

.image {
  position: relative;
  img {
    aspect-ratio: 1/1;
    width: 100%;
  }
.button{
  position: absolute;
  top: 1rem;
  right: 1rem;
}
}

.description {
  position: absolute;
  background: linear-gradient(0deg, hsl(var(--background)), rgba(0, 0, 0, 0));
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  h1 {
    font-size: 15px;
    font-weight: 600;
  }
  p {
    font-size: 13px;
  }
}
